body	{
		background-color:white;
		}
#container {
		background-color:white;
		border: 1px gray;
        border-style: groove;
		width:90%;
        margin: auto;
		}
#header	{
		background-color:orange;
		border: 3px solid gray;
		margin left: 40px;
        padding-left: 6%;
        margin-bottom: 2%;
		}
#navigation {
        padding-top:.5%;
	    background-color:white;
        margin-top: -20px;
        text-align: center;
	    }
li	     {
		display: inline;
        border: 1px solid #d9d9d9;
        padding-top: .3%;
        padding-bottom: .3%;
        padding-right: .3%;
        padding-left: .3%;
		}
a:visited {
        color:inherit
        }
a:hover {
        color:darkgoldenrod
        }
#contentleft {
        padding-top: 5%;
        padding-bottom: 5%;
        float: left;
        width: 48.5%;
        background-color: white;
        clear: both;
        }
#contentright {
        padding-top:5%;
        padding-right: 3%;
        text-align: center;
        width: 48.5%;
        background-color:white;
        float: right;
        }

#footer {
        border-top: 1px solid gray;
        background-color: #f2f2f2;
        text-align: center;
        clear:both;
        padding-top: .5%;
        padding-bottom: .5%
        }
#syllabus {
        text-align: center;
        vertical-align: middle;
        }
#contact {
        text-align: center;
        padding-bottom: 3%;
        }
#img{
        float: right;
        margin: 10;
        }

    
